CCsampling/.DS_Store
db.sqlite3
CCsampling/__pycache__/__init__.cpython-39.pyc
.DS_Store
CCsampling/__pycache__/__init__.cpython-39.pyc
FinancialDM_U/__pycache__/__init__.cpython-39.pyc
db.sqlite3
venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
*.otreezip
*.pyc
