{% block title %}
Plase tell us what you think about the boxes: 
{% endblock %}


{% block styles %}
<!-- Compiled and minified CSS -->
<link href="{{ static 'global/SamplingPilotgeneral.css'}}" rel="stylesheet">

{% endblock %}

{% block content %}
<body>



<div style="padding-top:2vh; text-align: center; padding-left:1vw;">
    <label style="font-weight: bold;" for="id_boxlikingInfo">How much do you like Box <span style="font-size: larger;"> A</span>?</label>
   <table style="text-align: center; margin-left: auto; margin-right:auto">
    <td> not at all &nbsp;</td>
     {{ for choice in form.boxlikingInfo }}
        <td> {{ choice }} </td>
     {{ endfor }}
     <td> &nbsp; very much </td>
 </table>
</div>


<div style="padding-top:4vh; text-align: center; padding-left:1vw;">
    <label style="font-weight: bold;"  for="id_boxrecommendationInfo">Would you follow Box <span style="font-size: larger;"> A</span> if it were its own social media channel?</label>
        <table style="text-align: center; margin-left: auto; margin-right:auto">
            <td> very unlikely &nbsp;</td>
             {{ for choice in form.boxrecommendationInfo }}
                <td> {{ choice }} </td>
             {{ endfor }}
             <td> &nbsp; very likely </td>
         </table>
</div>

<div style="padding-top:4vh; text-align: center; padding-left:1vw;">
    <label style="font-weight: bold;" for="id_boxlikingMisinfo">How much do you like Box  <span style="font-size: larger;"> B</span>?</label>
     <table style="text-align: center; margin-left: auto; margin-right:auto">
        <td> not at all &nbsp;</td>
         {{ for choice in form.boxlikingMisinfo }}
            <td> {{ choice }} </td>
         {{ endfor }}
         <td> &nbsp; very much </td>
     </table>
 </div>
 
 
 <div style="padding-top:4vh; text-align: center; padding-left:1vw;">
    <label style="font-weight: bold;" for="id_boxrecommendationMisinfo">Would you follow Box <span style="font-size: larger;"> B</span> if it were its own social media channel?</label>
         <table style="text-align: center; margin-left: auto; margin-right:auto">
            <td> very unlikely &nbsp;</td>
             {{ for choice in form.boxrecommendationMisinfo }}
                <td> {{ choice }} </td>
             {{ endfor }}
             <td> &nbsp; very likely </td>
         </table>


 </div>

 
 <div style="max-width: 750px;">
    <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">Next</button>

 </div>
    





</body>

{% endblock %}


{% block scripts %}
<!-- Compiled and minified JavaScript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script> 



</script>

{% endblock %}