{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link href="{{ static 'global/EDEGgeneral.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/EDEGcustom.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
Task begins now
{% endblock %}

{% block content %}



<p>You have now practiced your task. </p>

<p>You are now ready to make 80 choices with real consequences for your monetary bonus and carbon emissions. </p>

<p>Please make sure that you will not be distracted and pay attention to each choice. </p>

<p>You can go through the choices swiftly, but please make sure that each choice reflects your true preferences. </p>

<p>This is important for our research as well as for the consequences your decisions will have. </p>



<p> <b> Press next to start. </b> </p>



<button style="float: right; margin-top: 2vh;" class="otree-btn-next btn btn-primary" id="consent-next">Next</button>
{% endblock %}


