{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link href="{{ static 'global/EDEGgeneral.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/EDEGcustom.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
Task Part 2
{% endblock %}

{% block content %}



<p>This was the end of the first block, you can now take a small break. </p>

<p>If you are ready you can continue with the instructions for the second block. </p>



<button style="float: right; margin-top: 2vh;" class="otree-btn-next btn btn-primary" id="consent-next">Next</button>
{% endblock %}


