{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style type="text/css">
    .field-choice {
        display: flex;
    }

    .form-check-inline {
        display: block;
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }

    .form-check-label {
        display: block;
        width: 100%;
    }

    .form-check-inline .form-check-input {
        margin-right: 0;
    }

    .stimulus {
        width: 380px;
        height: 300px;
        border: 3px solid #000;
        font-size: 130%;
        text-align: center;
        margin: auto;
        padding: 2vh 0vw;
        vertical-align: middle;
    }

    .chosen-stimulus {
        border-color: #228B22;
    }


    table {
        margin-left: auto;
        margin-right: auto;
        width: 370px;
    }

    .animated-progress {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin: 20px 10px;
  border: 1px solid grey;
  overflow: hidden;
  position: relative;
}

#color-progress {
  height: 100%;
  display: block;
  width: 0;
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
}

#color-progress {
  background-color: lightblue;
}
</style>

{% endblock %}

{% block title %}
Your task
{% endblock %}

{% block content %}

{{if bothcorrect == True}}
    <p> Great, you answered both questions correctly.  </p>
{{else }}
    {{if nonecorrect == True}}
            <p> Oh no, none of your answers were correct. Please read the instructions below carefully.</p>
    {{endif}}
    {{if Q1correct == True}}
            <p> You got the first question correct, but answered the second question incorrectly. Please read the instructions below carefully.</p>
    {{endif}}
    {{if Q2correct == True}}
            <p> You got the second question correct, but answered the first question incorrectly. Please read the instructions below carefully.</p>
    {{endif}}
{{endif}}


<p > Answer for Question 1: Option B emits 50 lbs. C02. </p> <p style="padding-bottom: 20pt;"> Answer for Questions 2: The highest bonus you can get is $45, which is what you get from choosing Option A. </p>

<div class="container">
    <div class="row">
        <div class="col-6 stimulus">
            <h4> Option A </h4>
            <div id="left-stimulus">
            {{if carbonLeft == True}}
                <table style="margin-top:30px;">
                    <tbody>
                        <tr id="leftsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            <th> Carbon <br> Emissions </th>
                            <th> Monetary <br> Bonus </th>
                        </tr>
                        <tr>
                            <td> 15 lbs. CO2 </td>
                            <td> 45$</td>
                        </tr>

                    </tbody>
                </table>
            {{else}}
                <table style="margin-top:30px;">
                    <tbody>
                        <tr id="leftsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            
                            <th> Monetary <br> Bonus </th>
                            <th> Carbon <br> Emissions </th>
                        </tr>
                        <tr>
                            
                            <td> 45$</td>
                            <td> 15 lbs. CO2 </td>
                        </tr>

                    </tbody>
                </table>
            {{endif}}
            </div>
            

            <p style="margin-top: 30px;"> Press <i>f</i> for Option A </p>
        </div>

        <div class="col-6 stimulus">
            <h4> Option B</h4>
            <div id="right-stimulus">
            {{if carbonLeft == True}}
                <table style="margin-top:30px;">
                    <tbody>
                        <tr id="rightsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            <th> Carbon <br> Emissions </th>
                            <th> Monetary <br> Bonus </th>
                        </tr>
                        <tr>
                            <td> 50 lbs. CO2 </td>
                            <td> 20$ </td>
                        </tr>
                    </tbody>
                </table>
            {{else}}
                <table style="margin-top:30px;">
                    <tbody>
                        <tr id="leftsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            
                            <th> Monetary <br> Bonus </th>
                            <th> Carbon <br> Emissions </th>
                        </tr>
                        <tr>
                            
                            <td> 20$</td>
                            <td> 50 lbs. CO2 </td>
                        </tr>

                    </tbody>
                </table>
            {{endif}}
            </div>
            <p style="margin-top: 30px;"> Press <i>j</i> for Option B </p>
        </div>
    </div>
</div>


{{if bothcorrect == False}} 
    <p style="padding-top: 20pt;"> You see the two options with their respective amounts of carbon emissions and your monetary bonus.  </p>

    <p> To better understand the consequences, take into account that 1 lbs. CO2 corresponds to approximately 1.1 miles of a car drive with an average car. </p>

    <p> Your monetary bonus is displayed in study dollars and will be exchanged to British pounds according to £1 equals study $25.</p>

    <p> To choose an option use your keyboard and press <i>f</i> for Option A and <i>j</i> for Option B.  </p>

{{endif}}

<p style="padding-top: 20pt;"> You have now the chance to practice the task in four hypothetical choice situations. Note that your choices during the practice rounds will not be relevant for your monetary bonus or the real-world carbon emissions. </p>


<button style="float: right; margin-top: 2vh;" class="otree-btn-next btn btn-primary" id="consent-next">Next</button>
{% endblock %}



{% block scripts %}
<script type="text/javascript">




    var q1 = "{{Q1correct}}"
    var q2 = "{{Q2correct}}"
    var both = "{{bothcorrect}}"
    var none = "{{nonecorrect}}"
    var carbonLeft = "{{carbonLeft}}"

</script>

{% endblock %}