{{block styles}}
<style>
    @media only screen and (min-width: 1155px) {
     .radiotable {
        width:115% !important;
     }
     .next-btn .main {
      width: 115% !important;
    }
     .otree-body{
      padding-left: 0pt !important;
     }
    }
    
    @media only screen and (max-width: 950px) {
      .page-header {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 0px;
    }
    }


.form-check-input {
    width: 2em !important; 
    height: 2em !important;
}
    
    
    /* Radio table for cc concern and others */
    .radio-column{
        width:5%;
        min-width:43px;
        max-width:80px;
      }
</style>
{{endblock}}

{% block title %}
    Attitudes about Climate Change
{% endblock %}

{% block content %}

<p> How much do you agree with the following statements?</p>

<table class="radiotable">
    <tr> <th></th> <th    class="radio-column"> not at all</th> <th class="radio-column" > </th class="radio-column"> <th class="radio-column"> </th> <th class="radio-column"></th> <th    class="radio-column"> very much </th> </tr>


   
    {{ for field in form }}
        <tr>
            <th style="font-weight:normal;">{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>


<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
         {% next_button %} 
    </div>
</div> 
{% endblock %}


