{% block title %}
Information about this study
{% endblock %}

{% block styles %}
<link href="{{ static 'global/SamplingPilotgeneral.css'}}" rel="stylesheet">
{% endblock %}



{% block content %}



<body>

{{ if player.participant.telling_box_label == True}}

    <p> On the next pages, you will find two boxes. Each box contains a number of <b>statements about climate change.</b>
        <b>One box contains statements with arguments against immediate climate action. The other box contains statements arguing in favor of urgent climate action.</b>
    </p>
   


{{else}}
    <p> On the next pages, you will find two boxes. Each box contains a number of <b>statements about climate change </b> coming
        from different sources. </p>
   

{{endif}}

<p>
    When you click on one of the boxes, one statement will be randomly drawn from that box. Your task will be to
    read the statement and rate what you think about the statement. You will repeat this for <i>{{C.GAME_ROUNDS}} rounds</i>. In
    each round, you can decide from which box you want to read the next statement.
</p>
<p> We know that climate change is a complicated topic and there is a lot of different information about it out there. 
    We are interested how you deal with the information environment and we are curious to see how you search for information.

    Please take your time to read each statement carefully and give your honest opinion.
</p>
   
</body>


<div >
    <button id="nextst" style=" margin-top: 4vh;" disabled class="otree-btn-next btn btn-primary">Next</button>

</div>
{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 3 * 1000);
    }
</script>
{% endblock %}