{% block title %}
Information about this study
{% endblock %}

{% block styles %}
    <link href="{{ static 'global/SamplingPilotgeneral.css'}}" rel="stylesheet">
{% endblock %}



{% block content %}
<body>
    <h3> These are the instructions</h3>

    <p> Please read the instructions carefully. Because you should really read the instructions. </p>
</body>


<div style="max-width: 750px;">
    <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">Next</button>

 </div>
{% endblock %}