{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link href="{{ static 'global/empty.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/custom.css'}}" rel="stylesheet">

    
{% endblock %}

{% block title %}
    Preview of the Game
{% endblock %}

{% block content %}

<body>
    <div>
        <p> Below is a preview of the game.</p>
        <p class="Exp_Con_all"> Please note that choosing <b>Option A, will not cause any carbon emissions.</b>
            If you choose <b> Option B, it will cause {{outcomeCarbon}} pounds of carbon (CO2) emissions </b>   ({{outcomeCarbon}} lbs ≈ <span id ="carbonMetric"></span> metric kilos). </p>
            
            <p class="Exp_Con_all"> While this is just a rough estimate, <b>you can think about {{outcomeCarbon}} lbs CO2 as being equivalent to travelling {{carbonMiles | to0}} miles in an average passenger car.</b> </p> 
    </div>
   
    <div class="No-label"  style="color: grey; background-color: antiquewhite;  padding:min(4vw, 20pt);     box-shadow: 1pt 1pt 2pt 2pt rosybrown; margin-bottom: 10pt;">       
       <h3> Please make a choice</h3> 
            <p class="" style="padding-bottom:20px; font:grey;">
                <!-- Please choose one of the options. /your preferred option  edit text  -->
                
                    Please choose one of the options.  If you choose Option A, you will <b> gain {{ C.safe_outcome }} points.</b> If you choose Option B, you will have a 90% chance to <b>gain {{C.high_lottery}} points</b> and a 10% chance to <b>lose {{ C.low_lottery }} points.</b> 
              
            </p>
            <table style=" width:100%" class="table" id="choicetable">
                <tbody>
                    <tr style="font-weight: bold;"> <th> </th> <td> Option A <span class="z badge bg-primary"> No emissions</span></td> <td> Option B <span class="Exp_Con_all badge bg-secondary">{{outcomeCarbon}} lbs CO2 emissions</span> </td></tr>
                    
                    <tr>
                        <th> Payoff</th> <td> Get <span class="point_span">{{ C.safe_outcome }}</span> points for sure</td> <td>   <span > Get <span class="point_span">{{ C.high_lottery }}</span> points with <span class="point_span">90%</span> probability </span> <br>  <span> Get <span class="point_span">{{ C.low_lottery }}</span> points with <span class="point_span">10%</span> probability </span> </td>
                    </tr>
                   
                    <tr class="Exp_Con_all" style="border-color: white;">
                        <th  > Emissions</th> <td> Emit <span class="point_span">{{C.carbonA}}</span> lbs CO2 </td> <td> Emit <span class="point_span">{{outcomeCarbon}}</span> lbs CO2</td> 
                    </tr>

                   
                </tbody>
            </table>
        
        
        
    </div>

    <h4 style="padding-top: 20pt"> Given the information above, if you had to choose either Option A or B, which option would you prefer?  </h4> <p> This question will not be relevant for your bonus payoff.</p>
    <div class="mb-3 _formfield">
    
        <table style=" width:100%" class="table" id="choicetable">
            <tbody>
               
                    

                <tr style="border-color: white;">
                    <th> </th>
                    <td style="text-align: left;"><button name="preference" id="abtn" value="A"
                        class="btn btn-primary btn-large" > I would prefer Option A</button></td>
                    <td style="text-align: left;"><button name="preference" id="bbtn" value="B"
                        class="btn btn-primary btn-large" > I would prefer Option B</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    

    


</body>

{{ formfield_errors "preference" }}

{% endblock %}

{% block scripts %}
<script>
    Exp_Con = "{{Exp_Con}}"
    num_choices = "{{ C.NUM_ROUNDS }}";
    carbonMetric = Math.round("{{ outcomeCarbon }}"/2.2);
    lottery_a_lo = "{{ C.low_lottery }}";
    lottery_b_hi = "{{ C.safe_outcome }}";
    lottery_b_lo = "{{ C.safe_outcome }}";

    activate_Exp_Con = function(){
                if(Exp_Con == 2) {
                    $('.Exp_Con').css("display", "revert")
                }
        }

    activate_Exp_Con_all = function(){
                if(Exp_Con > 1) {
                    $('.Exp_Con_all').css("display", "revert")
                }
    }
    window.onload = function () {
                activate_Exp_Con();
                activate_Exp_Con_all();
                $('#carbonMetric').html(carbonMetric)
        }
</script>


{% endblock %}