{% extends "global/Page.html" %}
{% load otree static %}




{% block styles %}
<style type="text/css">
    .field-choice {
        display: flex;
    }

    .form-check-inline {
        display: block;
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }

    .form-check-label {
        display: block;
        width: 100%;
    }

    .form-check-inline .form-check-input {
        margin-right: 0;
    }

    .stimulus {
        width: 380px;
        height: 300px;
        border: 3px solid #000;
        font-size: 130%;
        text-align: center;
        margin: auto;
        padding: 2vw 0vw;
        vertical-align: middle;
    }

    .chosen-stimulus {
        border-color: #228B22;
    }
</style>

{% endblock %}

{% block content %}

<p style="font-size:200%;text-align:center;"> Please choose one of the options </p>

<div class="container">
    <div class="row">
        <div class="col-6 stimulus">
            <h4> Option A </h4>
            <div id="left-stimulus">
            {{if carbonLeft == True}}
                <table style="margin-top:30px;">
                    <tbody>
                        <tr id="leftsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            <th> Probability </th>
                            <th> Carbon Emissions </th>
                            <th> Monetary Bonus </th>
                        </tr>
                        <tr>
                            <td> {{player.probA1 | to0 }}% </td>
                            <td> {{player.carbonA1}}lbs. CO2 </td>
                            <td> £{{player.moneyA1}}</td>
                        </tr>
                        <tr class="row-secondary-outcomeA">
                            <td> {{player.probA2 | to0 }}% </td>
                            <td> {{player.carbonA2}}lbs. CO2 </td>
                            <td> £{{player.moneyA2}}</td>
                        </tr>

                    </tbody>
                </table>
            {{else}}
                <table style="margin-top:30px;">
                    <tbody>
                        <tr id="leftsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            <th> Probability</th>
                            <th> Monetary Bonus </th>
                            <th> Carbon Emissions </th>
                        </tr>
                        <tr>
                            <td> {{player.probA1 | to0 }}%</td>
                            <td> £{{player.moneyA1}}</td>
                            <td> {{player.carbonA1}}lbs. CO2 </td>
                        </tr>
                        <tr class="row-secondary-outcomeA">
                            <td> {{ player.probA2 | to0 }}% </td>
                            <td> £{{player.moneyA2}}</td>
                            <td> {{player.carbonA2}}lbs. CO2 </td>
                        </tr>

                    </tbody>
                </table>
            {{endif}}
            </div>
            

            <p style="margin-top: 30px;"> Press f for Option A </p>
        </div>

        <div class="col-6 stimulus">
            <h4> Option B</h4>
            <div id="right-stimulus">
            {{if carbonLeft == True}}
                <table style="margin-top:30px;">
                    <tbody>
                        <tr id="rightsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            <th> Probability</th>
                            <th> Carbon Emissions </th>
                            <th> Monetary Bonus </th>
                        </tr>
                        <tr>
                            <td> {{player.probB1 | to0 }}%</td>
                            <td> {{player.carbonB1}}lbs. CO2 </td>
                            <td> £{{player.moneyB1}}</td>
                        </tr>
                        <tr class="row-secondary-outcomeB">
                            <td> {{player.probB2 | to0 }}% </td>
                            <td> {{player.carbonB2}}lbs. CO2 </td>
                            <td> £{{player.moneyB2}}</td>
                        </tr>
                    </tbody>
                </table>
            {{else}}
                <table style="margin-top:30px;">
                    <tbody>
                        <tr id="leftsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            <th> Probability</th>
                            <th> Monetary Bonus </th>
                            <th> Carbon Emissions </th>
                        </tr>
                        <tr>
                            <td> {{player.probB1 | to0 }}%</td>
                            <td> £{{player.moneyB1}}</td>
                            <td> {{player.carbonB1}}lbs. CO2 </td>
                        </tr>
                        <tr class="row-secondary-outcomeB">
                            <td> {{player.probB2 | to0 }}% </td>
                            <td> £{{player.moneyB2}}</td>
                            <td> {{player.carbonB2}}lbs. CO2 </td>
                        </tr>

                    </tbody>
                </table>
            {{endif}}
            </div>
            <p style="margin-top: 30px;"> Press j for Option B </p>
        </div>
    </div>
</div>

<p style="float:right; margin-right: 61px; margin-top: 30px;"> Information: 1 lbs CO2 equals ~ 1.1 miles car drive </p>

<p style="text-align:center;"> <button style="display: none;"
        class="otree-btn-next btn btn-primary next-button otree-next-button">next</button> </p>

<input type="hidden" name="choice" />

<input id="input_keyboard" type="hidden" name="input_keyboard" value="0" />



<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Release keyboard buttons to progress</h5>
                </button>
            </div>
            <div class="modal-body">
                Please release all the keys on your keyboard to progress to the next page of the experiment.
            </div>
        </div>
    </div>
</div>



<input id="page_load" type="hidden" name="page_load" value={{player.page_load}} />
<input id="page_submit" type="hidden" name="page_submit" />


{% endblock %}

{% block scripts %}
<script type="text/javascript">
    jQuery('.otree-btn-next').hide()


    var keys = new Set();

    var choiceListener

    var reverse = "{{reverse}}"
    var outcomeOneTop = "{{outcomeOneTop}}"
    var page_load = "{{player.page_load}}"

    choiceListener = {

        KEY_F: 0,
        KEYDOWN_F: 0,
        KEY_J: 0,
        KEYDOWN_J: 0,

        init() {

            jQuery(document).on('keydown', choiceListener.keyboardInput);

            // no mouseinputs allowed
            //jQuery('#left-stimulus').on('click', choiceListener.AClick);

            //jQuery('#right-stimulus').on('click',choiceListener.BClick);

        },

        AClick() {
            disable_inputs();
            var submit_timestamp = Date.now()
            jQuery('#page_submit').val(submit_timestamp);
            console.log("left click firing")
            jQuery('.chosen-stimulus').removeClass('chosen-stimulus');
            jQuery('[name="choice"]').val("A");
            //jQuery('#left-stimulus').addClass('chosen-stimulus');
            jQuery('#left-stimulus')[0].parentElement.classList.add("chosen-stimulus")
            setTimeout(progress_experiment, 250)
        },

        BClick() {
            disable_inputs();
            var submit_timestamp = Date.now()
            jQuery('#page_submit').val(submit_timestamp);
            console.log("right click firing")
            jQuery('.chosen-stimulus').removeClass('chosen-stimulus');
            jQuery('[name="choice"]').val("B");
            jQuery('#right-stimulus')[0].parentElement.classList.add("chosen-stimulus")
            //jQuery('#right-stimulus').addClass('chosen-stimulus');
            setTimeout(progress_experiment, 250)

        },

        keyboardInput(event) {
            console.log(event)


            if (event.which == choiceListener.KEY_F || event.which == choiceListener.KEYDOWN_F) {
                console.log("key f firing")
                jQuery('[name="input_keyboard"]').val(1);
                choiceListener.AClick();
                disable_inputs();

            }
            if (event.which == choiceListener.KEY_J || event.which == choiceListener.KEYDOWN_J) {
                console.log("key j firing")
                jQuery('[name="input_keyboard"]').val(1);
                choiceListener.BClick();
                disable_inputs();
            }
        }

    }


    function disable_inputs() {
        jQuery('#right-stimulus').off('click');
        jQuery('#left-stimulus').off('click');
        jQuery(document).off('keydown');
        console.log("disable_inputs firing")
        jQuery(document).on('keydown', function (event) {
            keys.add(event.which);
        });
    }

    function switchOutcomeRows() {
        jQuery(".row-secondary-outcomeA").prev().before(jQuery(".row-secondary-outcomeA"));
        jQuery(".row-secondary-outcomeB").prev().before(jQuery(".row-secondary-outcomeB"));
    }



    function switchSides() {
        div1 = $('#left-stimulus');
        div2 = $('#right-stimulus');

        tdiv1 = div1.clone();
        tdiv2 = div2.clone();

        div1.replaceWith(tdiv2);
        div2.replaceWith(tdiv1);

        choiceListener.init();
        //jQuery(document).on('keydown', console.log("now"), console.log(""), choiceListener.keyboardInput);
        //jQuery('#left-stimulus').on('click', choiceListener.AClick());
        //jQuery('#right-stimulus').on('click', choiceListener.BClick());
        console.log("enable firing")
    }


    function progress_experiment() {
        if (keys.size > 0) {
            $('#modal').modal('show');

            jQuery(document).off('keyup').on('keyup', function (event) {
                keys.delete(event.which);

                if (keys.size == 0) {
                    jQuery('.otree-btn-next').click();
                }

            });
        }
        else {
            jQuery('.otree-btn-next').click()
        }
    }

    jQuery(document).on('keyup', function (event) {
        keys.delete(event.which);
    });

    jQuery(document).on('keydown', function (event) {
        keys.add(event.which);
    });


    jQuery(document).ready(function () {

        if (page_load == 0) {
            var load_timestamp = Date.now()
            jQuery('#page_load').val(load_timestamp);
        }

        if ( outcomeOneTop == "True"){
            console.log("we switch")
            switchOutcomeRows()
        }
        if (reverse == 1) {
            console.log("yesreverse")
            switchSides()
            choiceListener.KEY_J = 102
            choiceListener.KEY_F = 106
            choiceListener.KEYDOWN_J = 70
            choiceListener.KEYDOWN_F = 74
            console.log("reversed key", choiceListener.KEY_J)
        }

        if (reverse == 0) {
            choiceListener.KEY_F = 102
            choiceListener.KEY_J = 106
            choiceListener.KEYDOWN_F = 70
            choiceListener.KEYDOWN_J = 74
        }

        choiceListener.init();

    });

</script>
{% endblock %}