{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link href="{{ static 'global/empty.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/custom.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    Upcoming: Feedback about the Outcomes
{% endblock %}

{% block content %}


<p> You have finished the first five rounds. </p>


<p> Now, you will learn about the outcomes of each option after each round. </p>
<p>
<strong> Please click next to continue with the next round.  </strong>
</p>


<button style="float: right; margin-top: 2vh;" class="otree-btn-next btn btn-primary" id="consent-next">Next</button>
{% endblock %}


