{% block title %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div>
    <h2> How will the carbon emission be implemented?</h2>

    <p> We now tell you a bit about the details in implementing the carbon emissions. We will not ask you about this part in the comprehension questions, so this is for your information if you are interested in learning more about how the emissions will be implemented.  </p>

    <p> The choice options cause <b>carbon (CO2) emissions in the real world.</b> Prior to the study, we reserved carbon emission certificates. Carbon Certificates regulate how much carbon dioxide (CO2) can be emitted in total. There is only a limited number of certificates on the market. Think of a CO2 certificate as an allowance to emit a certain amount of CO2.</p>

    <p>At the end of the study, we will calculate how much CO2 you saved compared to the maximum amount of CO2 emission possible in this study. We will only buy the amount of CO2 certificates corresponding to the amount you saved with your choice. For example, if you decide for an option with a very low CO2 emission, we will buy a high amount of CO2 certificates at the market. In contrast, if you decide for an option with a very high CO2 emission, we will almost buy no CO2 certificates.   </p>

    <p>All certificates we will not buy will be back on the market, eventually allowing other buyers to emit this amount of CO2. For all certificates we buy, this means we destroy the amount of carbon emission. Once the CO2 certificate is destroyed and taken off the market, it reduces the total amount of emission allowances that can be purchased. With less certificates on the market, less carbon can be emitted in total. </p>
</div>
<button style="float: right; margin-top: 2vh;" class="otree-btn-next btn btn-primary"  id="consent-next">Next</button>
  
{% endblock %}
