{% block title %}

{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div>
    <h2> Welcome to this study! </h2>
    <p> In this study you will repeatedly choose between two options: Option A or Option B. Your choices will involve both monetary outcomes, which will determine your bonus, and real-world carbon emissions. </p>

    <p> <b> Thus, your choices will have real-world consequences for your own payment and for the environment!</b></p>

    <p> There will be two blocks with 80 choices each and at the end of the game one choice will be randomly selected to be implemented. </p>

    <p> This means you will be paid and the emission of that round will be realized in the real world according to the choice you made. </p>

    <p> As you do not know which choice will be implemented in advance, please make every choice as if this choice will be implemented for real at the end of the study. </p>
</div>
<button style="float: right; margin-top: 2vh;" class="otree-btn-next btn btn-primary"  id="consent-next">Next</button>
  
{% endblock %}
