
{% block styles %}
    <link href="{{ static 'global/SamplingPilotgeneral.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    Thank you very much for your participation. 
{% endblock %}

{% block content %}



<div >
 <p>
   You can now return to Prolific. 
 </p>   
 <p>

    <button class="btn btn-primary btn-large reps" style="margin-top:3vh;" type="button" onclick="window.location.href='https://app.prolific.com/submissions/complete?cc=C194FZ18'"> Click here to Finish</button>


 </p>
</div>




    

{% endblock %}


{% block scripts %}
<script>

</script>


{% endblock %}


