
{% block styles %}
    <link href="{{ static 'global/SamplingPilotgeneral.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
    Thank you very much for your participation. 
{% endblock %}

{% block content %}



<div >
    <img style="width:50%; max-width:200px;" src="{{ static 'global/images/no_mobile.jpeg'}}">
 <p>
    You have read 12 statements regarding the climate change. Not all statements were necessarily true. 
    By true, we mean that they convey scientific facts that are endorsed by the scientific community, as well as the larger public. 

    The following statements you have read were misleading. Here you can read the corrected version. 
 </p>   

 <table id="debriefTable">
    <tr> <th> Misleading Statement</th> <th>Corrected Statement</th> </tr>
 </table>
  
</div>




    

{% endblock %}

{% block scripts %}

<script>

    var seenM = '{{seenM}}'
    seenM = eval(seenM)
    var seenMstatements = "{{seenMstatements}}"
    seenMstatements = eval(seenMstatements)

    var seenMcorrections = "{{seenMcorrections}}"
    seenMcorrections = eval(seenMcorrections)
    


fillTable = function(){
    for (let i = 0; i < seenM.length; i++){ 
        thisseenM = seenMstatements[i]
        thiscorrectedM = seenMcorrections[i]
        var mytable = document.getElementById("debriefTable");

        // Create an empty <tr> element and add it to the 1st position of the table:
        var row = mytable.insertRow(-1);

        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);

        // Add some text to the new cells:
        cell1.innerHTML = thisseenM;
        cell2.innerHTML = thiscorrectedM;

        
    }
}





window.onload = function () {

    fillTable()


}


</script>


{% endblock %}


