{% block styles %}
<link href="{{ static 'global/SamplingPilotgeneral.css'}}" rel="stylesheet">
{% endblock %}



{% block title %}
Please provide some information about yourself
{% endblock %}

{% block content %}

<div class="mb-3 _formfield">
    
    <label class="col-form-label" for="id_age">How old are you?</label>
    <div class="controls">
      <table style="padding-left:0; width:200px; "><tr> <td style="padding-left:0; padding-right: 15px;">  <input type="number"  class="form-control" inputmode="numeric" id="id_age" max="100" min="18" name="age" required="" value=""> </td> <td style="padding-left:0pt;">  years</td> </tr></table>
    </div>
</div>

<!-- {% formfield player.age label="How old are you?" %} -->
{% formfield player.gender label="What is your gender?" %}
{% formfield player.hh_income label="What is your total annual income after tax?" %}


<div class="radiotable" style="padding-top:2vh; padding-left:1vw;">
    <p> Overall, how would you describe your political attitudes? </p>
    <p style="text-indent: 7vw;">
        very left-leaning &nbsp;
        {{ for choice in form.conservative_liberal}}
            {{ choice }}
        {{ endfor }}
        &nbsp; very right-leaning
    </p>
    </div>

<div class="next-btn">
    <div style="float: right; padding-top: 5vh;">
        {% next_button %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

function check_specify(value){
    if (value == 3) {
        $('#specify_party').css("display", "block")
    } else {
        $('#specify_party').css("display", "none")
    }
}

</script>
{% endblock %}