{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link href="{{ static 'global/EDEGgeneral.css'}}" rel="stylesheet">
<link href="{{ static 'global/css/EDEGcustom.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
Welcome to the Decision-making Game
{% endblock %}

{% block content %}
<h5>Please read the instructions carefully! </h5>

<div class="att-box"> 
It seems that you did not read the instructions carefully. Please take some time to read the instructions and make sure you understand them. 
</div>

<div>

    <p>
        This is a decision-making game.
        You will play a game for {{num_rounds}} rounds.
    </p>

    <p>
        In each round, you will choose between two options: Option A or Option B. In the first five rounds, you will not learn about the outcomes of your choices. 
        After the fifth round, you will learn about the outcomes of both options: the option you chose and the option you did not choose. <strong> Your choices will
            impact your bonus payment<span class="Exp_Con"> and the environment</span>.</strong>
    </p>
   
    <h5 class="Exp_Con"> Outcomes affect the Environment: </h5>
        <p class="Exp_Con">
            <b>Your choices have environmental consequences.</b> Some options cause <b>carbon (CO2) emissions in
                the real world.</b> Prior to the study, we purchased CO2 emission certificates. There is only a
                limited number of certificates on the market, and they regulate how much CO2 can be emitted in total. Think of a CO2 certificate as an allowance to emit a certain amount of CO2. If you choose an option that causes CO2 emissions, we will return the corresponding amount of CO2 certificates, allowing the buyer to emit this amount of CO2. If you choose an option without CO2 emissions, we will calculate how much CO2 you saved compared to the other option. We will then destroy carbon certificates corresponding to your CO2 savings. Once the CO2 certificate is destroyed and taken off the market, it reduces the total amount of emission allowances that can be purchased. With less certificates on the market, less carbon can be emitted in total.
                <strong> This means, carbon emissions will actually be realized in the real world following your choices.
                </strong>
        </p>


        <h5 > Outcomes affect your bonus payment: </h5>
   


    <p> <strong>In each round, you can gain or lose points.
        </strong> 
    </p>
    <p> <b> At the end of the study, one round will be randomly drawn.</b> The outcome from this round  will decide your bonus payment<span class="Exp_Con"> and the environmental outcome</span>. <span class="Exp_Con">The carbon emissions of your choice in that
        round will then be realized.</span> The points you gained or lost in that round will be converted into British Pounds
        (conversion rate: 200 points &#8793; £1) and will be added to your initial bonus payment of £1. Note that your bonus
        payment is never negative. The minimum bonus payment you can get is £0. </p>


</div>

<div>            
    <p>
    <b>Example:</b> Imagine you played 2 rounds. In round 1, you lost 100 points<span class="Exp_Con"> and the carbon emissions were 10 lbs</span>.
        In round 2, you gained 50 points<span class="Exp_Con"> and carbon emissions were zero</span>.
        At the end, the computer will draw randomly either round 1 or round 2. If round 1 is drawn, your payoff will be
        -100 points, divided by 200 = -£0.5. Your bonus payment will then be £1 (initial endowment) -£0.5 = £0.5 (around USD $0.62). <span class="Exp_Con">The carbon emissions of 10 lbs will be realized by selling a CO2 certificate
        that allows the buyer to emit 10 lbs of CO2.</span> 
    </p>

</div>

<div>
   
    <p>
        In the "Please enter any comments here" textfield below, you have to enter the word <b>"thanks"</b> (without the
        quotes), this is to demonstrate you read and understood all of the instructions.
    </p>
    
    <p style="font-weight:bold">
        Thank you for participating!
    </p>
</div>

{% formfield player.attention2 label="Please enter any comments here:" %}

I have read and understood the instructions.
<button style="float: right; margin-top: 1vh; display: block;" disabled class="btn btn-primary"id="next-button">Next</button> 
{% endblock %}


{% block scripts %}
<script>
    setTimeout(function() {
    document.getElementById('next-button').disabled = false
    }, 10 * 1000);


    Exp_Con = "{{Exp_Con}}"
    activate_Exp_Con = function(){
        if(Exp_Con > 1) {
        $('.Exp_Con').css("display", "revert")
        }
    }
    window.onload = function () {
        activate_Exp_Con();
    }   
</script>
{% endblock %}



